/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratThin.ttf") format('truetype');
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratThinItalic.ttf") format('truetype');
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratExtraLight.ttf") format('truetype');
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratExtraLightItalic.ttf") format('truetype');
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratLight.ttf") format('truetype');
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratLightItalic.ttf") format('truetype');
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratRegular.ttf") format('truetype');
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratItalic.ttf") format('truetype');
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratMedium.ttf") format('truetype');
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratMediumItalic.ttf") format('truetype');
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratSemiBold.ttf") format('truetype');
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratSemiBoldItalic.ttf") format('truetype');
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratBold.ttf") format('truetype');
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratBoldItalic.ttf") format('truetype');
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratExtraBold.ttf") format('truetype');
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratExtraBoldItalic.ttf") format('truetype');
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratBlack.ttf") format('truetype');
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratBlackItalic.ttf") format('truetype');
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-Thin.ttf") format('truetype');
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 100;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-ThinItalic.ttf") format('truetype');
}

/** Montserrat Alternates ExtraLight **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-ExtraLight.ttf") format('truetype');
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 200;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-ExtraLightItalic.ttf") format('truetype');
}

/** Montserrat Alternates Light **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-Light.ttf") format('truetype');
}

/** Montserrat Alternates Light-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-LightItalic.ttf") format('truetype');
}

/** Montserrat Alternates Regular **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-Regular.ttf") format('truetype');
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-Italic.ttf") format('truetype');
}

/** Montserrat Alternates Medium **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-Medium.ttf") format('truetype');
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-MediumItalic.ttf") format('truetype');
}

/** Montserrat Alternates SemiBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-SemiBold.ttf") format('truetype');
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-SemiBoldItalic.ttf") format('truetype');
}

/** Montserrat Alternates Bold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-Bold.ttf") format('truetype');
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-BoldItalic.ttf") format('truetype');
}

/** Montserrat Alternates ExtraBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-ExtraBold.ttf") format('truetype');
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 800;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-ExtraBoldItalic.ttf") format('truetype');
}

/** Montserrat Alternates Black **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 900;
    font-style: normal;
    src: url("/public/montserrat-font/MontserratAlternates-Black.ttf") format('truetype');
}

/** Montserrat Alternates Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("/public/montserrat-font/MontserratAlternates-BlackItalic.ttf") format('truetype');
}